/dts-v1/;

#include "meson-gxm-s912-h96-pro-plus.dtsi"

/ {
	compatible = "h96,pro-plus", "amlogic,s912", "amlogic,meson-gxm";
	model = "H96 Pro+";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>; /* 2 GiB or 3 GiB */
	};

	leds {
		compatible = "gpio-leds";

		led-blue {
			label = "h96:blue:on";
			gpios = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led-red {
			label = "h96:red:standby";
			gpios = <&gpio GPIOAO_6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			retain-state-suspended;
			panic-indicator;
		};
	};
};

&ethmac {
	pinctrl-0 = <&eth_pins>;
	pinctrl-names = "default";
	phy-handle = <&external_phy>;
	amlogic,tx-delay-ns = <2>;
	phy-mode = "rgmii";
	status = "okay";
};

&external_mdio {
	external_phy: ethernet-phy@0 {
		/* Realtek RTL8211F (0x001cc916) */
		reg = <0>;

		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		reset-gpios = <&gpio GPIOZ_14 GPIO_ACTIVE_LOW>;

		interrupt-parent = <&gpio_intc>;
		/* MAC_INTR on GPIOZ_15 */
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>;
	};
};

/* WLAN: Atheros 10k (QCA9377) */
&sd_emmc_a {
	max-frequency = <200000000>;

	qca_wifi: qca-wifi@1 {
		compatible = "qcom,ath10k";
		reg = <1>;
	};
};

/* This is connected to the Bluetooth module: */
/* &uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "qcom,qca9377-bt";
		shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
	};
}; */

&usb {
	dr_mode = "host";
};
